body,
p,
ul,
blockquote {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #0c0c0d; }

p {
  margin-bottom: 10px !important; }

a, button {
  cursor: pointer;
  outline: 0; }

.title, .subtitle {
  font-family: "Zilla Slab", monospace;
  font-weight: bold;
  font-size: 36px;
  color: #0c0c0d;
  margin-bottom: 20px; }

.subtitle {
  font-size: 18px; }

.text-white {
  color: #FFFFFF; }

.text-primary {
  color: #45a1ff; }

.text-black {
  color: #0c0c0d; }

.circle-icons {
  border-radius: 50%;
  border: 2px solid #202020;
  font-size: 23px;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 15px auto; }

.mx-width-400 {
  max-width: 400px;
  margin: 0 auto; }

/* Magnific Popup CSS */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8; }

.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden; }

.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box; }

.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle; }

.mfp-align-top .mfp-container:before {
  display: none; }

.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045; }

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto; }

.mfp-ajax-cur {
  cursor: progress; }

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: zoom-out; }

.mfp-zoom {
  cursor: pointer;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }

.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none; }

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }

.mfp-preloader {
  color: #CCC;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #CCC; }

.mfp-preloader a:hover {
  color: #FFF; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: none;
  padding: 0;
  z-index: 1046;
  box-shadow: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }

.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  padding: 0 0 18px 10px;
  color: #FFF;
  font-style: normal;
  font-size: 28px;
  font-family: Arial, Baskerville, monospace; }

.mfp-close:hover,
.mfp-close:focus {
  opacity: 1; }

.mfp-close:active {
  top: 1px; }

.mfp-close-btn-in .mfp-close {
  color: #333; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: #FFF;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%; }

.mfp-counter {
  position: absolute;
  top: 0;
  right: 0;
  color: #CCC;
  font-size: 12px;
  line-height: 18px;
  white-space: nowrap; }

.mfp-arrow {
  position: absolute;
  opacity: 0.65;
  margin: 0;
  top: 50%;
  margin-top: -55px;
  padding: 0;
  width: 90px;
  height: 110px;
  -webkit-tap-highlight-color: transparent; }

.mfp-arrow:active {
  margin-top: -54px; }

.mfp-arrow:hover,
.mfp-arrow:focus {
  opacity: 1; }

.mfp-arrow:before,
.mfp-arrow:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 35px;
  margin-left: 35px;
  border: medium inset transparent; }

.mfp-arrow:after {
  border-top-width: 13px;
  border-bottom-width: 13px;
  top: 8px; }

.mfp-arrow:before {
  border-top-width: 21px;
  border-bottom-width: 21px;
  opacity: 0.7; }

.mfp-arrow-left {
  left: 0; }

.mfp-arrow-left:after {
  border-right: 17px solid #FFF;
  margin-left: 31px; }

.mfp-arrow-left:before {
  margin-left: 25px;
  border-right: 27px solid #3F3F3F; }

.mfp-arrow-right {
  right: 0; }

.mfp-arrow-right:after {
  border-left: 17px solid #FFF;
  margin-left: 39px; }

.mfp-arrow-right:before {
  border-left: 27px solid #3F3F3F; }

.mfp-iframe-holder {
  padding-top: 40px;
  padding-bottom: 40px; }

.mfp-iframe-holder .mfp-content {
  line-height: 0;
  width: 100%;
  max-width: 900px; }

.mfp-iframe-holder .mfp-close {
  top: -40px; }

.mfp-iframe-scaler {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-top: 56.25%; }

.mfp-iframe-scaler iframe {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #000; }

/* Main image in popup */
img.mfp-img {
  width: auto;
  max-width: 100%;
  height: auto;
  display: block;
  line-height: 0;
  box-sizing: border-box;
  padding: 40px 0 40px;
  margin: 0 auto; }

/* The shadow behind the image */
.mfp-figure {
  line-height: 0; }

.mfp-figure:after {
  content: '';
  position: absolute;
  left: 0;
  top: 40px;
  bottom: 40px;
  display: block;
  right: 0;
  width: auto;
  height: auto;
  z-index: -1;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  background: #444; }

.mfp-figure small {
  color: #BDBDBD;
  display: block;
  font-size: 12px;
  line-height: 14px; }

.mfp-figure figure {
  margin: 0; }

.mfp-bottom-bar {
  margin-top: -36px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  cursor: auto; }

.mfp-title {
  text-align: left;
  line-height: 18px;
  color: #F3F3F3;
  word-wrap: break-word;
  padding-right: 36px; }

.mfp-image-holder .mfp-content {
  max-width: 100%; }

.mfp-gallery .mfp-image-holder .mfp-figure {
  cursor: pointer; }

@media screen and (max-width: 800px) and (orientation: landscape), screen and (max-height: 300px) {
  /**
       * Remove all paddings around the image on small screen
       */
  .mfp-img-mobile .mfp-image-holder {
    padding-left: 0;
    padding-right: 0; }
  .mfp-img-mobile img.mfp-img {
    padding: 0; }
  .mfp-img-mobile .mfp-figure:after {
    top: 0;
    bottom: 0; }
  .mfp-img-mobile .mfp-figure small {
    display: inline;
    margin-left: 5px; }
  .mfp-img-mobile .mfp-bottom-bar {
    background: rgba(0, 0, 0, 0.6);
    bottom: 0;
    margin: 0;
    top: auto;
    padding: 3px 5px;
    position: fixed;
    box-sizing: border-box; }
  .mfp-img-mobile .mfp-bottom-bar:empty {
    padding: 0; }
  .mfp-img-mobile .mfp-counter {
    right: 5px;
    top: 3px; }
  .mfp-img-mobile .mfp-close {
    top: 0;
    right: 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    text-align: center;
    padding: 0; } }

@media all and (max-width: 900px) {
  .mfp-arrow {
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
        transform: scale(0.75); }
  .mfp-arrow-left {
    -webkit-transform-origin: 0;
    -ms-transform-origin: 0;
        transform-origin: 0; }
  .mfp-arrow-right {
    -webkit-transform-origin: 100%;
    -ms-transform-origin: 100%;
        transform-origin: 100%; }
  .mfp-container {
    padding-left: 6px;
    padding-right: 6px; } }

.main {
  background-color: #f9f9fa; }

.hero-page {
  background: #0B8EF6;
  background-position: center center;
  background-size: cover;
  background-image: url("/assets/mozilla-ni-header.jpg");
  height: 550px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 100px; }
  .hero-page .title, .hero-page .subtitle {
    font-size: 48px; }
  .hero-page p {
    font-size: 18px;
    max-width: 450px; }
  .hero-page .title, .hero-page .subtitle,
  .hero-page p {
    text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9); }

.about-page {
  padding: 50px 0;
  background-color: #d7d9f2;
  background-image: url("https://www.mozilla.org/media/img/home/colon-slash-slash.2c709d7c73c3.svg");
  background-repeat: no-repeat; }
  .about-page .about-mozilla {
    border-right: 1px solid #505050;
    padding-right: 30px; }
    @media (max-width: 768px) {
      .about-page .about-mozilla {
        border-right: 0;
        padding-right: 0; } }
  .about-page img {
    max-width: 200px; }

.download-section {
  background: -webkit-linear-gradient(left, #4C00AF, #00CDEF);
  background: linear-gradient(to right, #4C00AF, #00CDEF);
  padding: 50px 0; }
  .download-section img {
    max-width: 100%; }

.blog-section {
  padding: 50px 0;
  background-color: #FFFFFF; }

.members-section {
  padding: 50px 0;
  background-color: #ededf0; }

.not-found-page {
  padding: 150px 0;
  background-color: #d7d9f2;
  background-image: url("https://www.mozilla.org/media/img/home/colon-slash-slash.2c709d7c73c3.svg");
  background-repeat: no-repeat;
  background-position: left center; }

.container {
  max-width: 1200px;
  width: 100%; }

.header-site {
  position: relative;
  background-color: #FFFFFF;
  border-bottom: 1px solid #dadada;
  width: 100%;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2); }
  .header-site .nav-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    height: 85px; }
    .header-site .nav-container a {
      font-weight: bold; }
  .header-site .open-menu {
    display: none; }
  @media (max-width: 768px) {
    .header-site .desk-menu {
      display: none !important; }
    .header-site .open-menu {
      display: block;
      background-color: transparent;
      border: 0;
      color: #202020;
      font-size: 30px; } }

.primary-logo {
  width: 120px; }

.main-footer {
  background-color: #FFFFFF;
  position: relative;
  border-top: 1px solid #cacaca;
  padding: 40px 0; }
  .main-footer .footer-logo {
    max-width: 130px;
    margin-bottom: 25px; }
  .main-footer .nav-link {
    padding-left: 0; }

.post {
  border: 1px solid #EEE;
  box-shadow: 0px 1px 5px #DCDCDC;
  margin-top: 50px;
  margin-bottom: 30px;
  background-color: #FFFFFF; }
  .post .post-thumbnail {
    width: 100%;
    position: relative; }
  .post .post-headline {
    font-family: "Zilla Slab", monospace;
    font-size: 42px;
    margin-bottom: 15px;
    font-weight: bold;
    color: #0c0c0d; }
  .post .post-meta {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    color: #737373; }
    .post .post-meta .post-meta-cat {
      color: #45a1ff; }
  .post .post-author {
    padding: 15px 0; }
    .post .post-author img {
      border-radius: 50%; }
  .post .post-navigation .screen-reader-text {
    display: none; }
  .post .post-navigation .nav-links {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .post .post-navigation .nav-links > div {
      width: 50%; }
      .post .post-navigation .nav-links > div a {
        font-weight: bold; }
      .post .post-navigation .nav-links > div:after {
        content: "Anterior";
        display: block;
        font-family: "Zilla Slab", monospace;
        font-size: 16px;
        font-weight: 400;
        color: #737373; }
    .post .post-navigation .nav-links .nav-next {
      text-align: right; }
      .post .post-navigation .nav-links .nav-next:after {
        content: "Siguiente"; }
  @media (max-width: 768px) {
    .post .p-5 {
      padding: 20px !important; }
    .post .post-headline {
      font-size: 30px; } }

.post-content {
  margin: 15px 0;
  padding: 15px 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  font-family: "Zilla Slab", monospace;
  font-size: 18px; }
  .post-content img {
    max-width: 100%;
    height: auto; }
  .post-content p,
  .post-content div,
  .post-content ul,
  .post-content li,
  .post-content span {
    font-family: "Zilla Slab", monospace;
    font-size: 20px; }
  .post-content h1,
  .post-content h2,
  .post-content h3,
  .post-content h4,
  .post-content h5,
  .post-content h6 {
    font-family: "Open Sans", Arial, sans-serif !important;
    color: #0c0c0d;
    margin-top: 30px;
    margin-bottom: 15px;
    font-weight: bold; }
  .post-content .alignleft {
    float: left;
    display: block;
    margin: 15px 15px 15px 0px; }
  .post-content .alignright {
    float: right;
    display: block;
    margin: 15px 0px 15px 15px; }
  .post-content .alignnone {
    display: block;
    margin: 15px 0; }
  .post-content .aligncenter {
    display: block;
    margin: 15px auto; }

.gallery {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  padding: 15px 0; }
  .gallery .gallery-item {
    padding: 0 10px; }
    .gallery .gallery-item img {
      max-width: 100%;
      height: auto; }
  .gallery.gallery-columns-1 .gallery-item {
    width: 100%; }
  .gallery.gallery-columns-2 .gallery-item {
    width: 50%; }
  .gallery.gallery-columns-3 .gallery-item {
    width: 33.333333%; }
  .gallery.gallery-columns-4 .gallery-item {
    width: 25%; }
  .gallery.gallery-columns-6 .gallery-item {
    width: 16.666%; }
  @media (max-width: 768px) {
    .gallery .gallery-item {
      width: 100% !important; } }

h1 {
  color: red; }

.btn-outline-success {
  border: 2px solid #00DE20;
  border-radius: 50px;
  color: #00DE20;
  font-weight: bold; }
  .btn-outline-success:hover {
    background: #00DE20;
    color: #FFFFFF;
    border: 2px solid #00DE20; }

.btn-rounded-success {
  border: 2px solid #00DE20;
  border-radius: 50px;
  color: #FFFFFF;
  background: #00DE20;
  font-weight: bold; }
  .btn-rounded-success:hover {
    background: #00b51a;
    color: #FFFFFF;
    border: 2px solid #00b51a; }

.card-blog {
  position: relative;
  margin-bottom: 30px; }
  .card-blog .card-image {
    margin-bottom: 15px; }
    .card-blog .card-image > img {
      width: 100%; }
  .card-blog .card-title {
    font-family: "Zilla Slab", monospace; }
    .card-blog .card-title > a {
      font-size: 26px;
      font-weight: bold;
      font-family: "Zilla Slab", monospace;
      color: #0c0c0d; }
  .card-blog .card-excerpt {
    font-family: "Zilla Slab", monospace; }

.card-member {
  position: relative;
  text-align: center; }
  .card-member img {
    border-radius: 50%;
    max-width: 200px;
    margin: 0 auto;
    display: block; }
  .card-member .card-name {
    font-size: 20px;
    font-family: "Zilla Slab", monospace;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0; }
  .card-member .card-position {
    font-size: 14px;
    font-style: italic; }
  .card-member .card-description {
    font-family: "Zilla Slab", monospace;
    font-size: 16px;
    margin-top: 10px; }

.card {
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1); }
  .card .card-img-top {
    max-width: 100%; }
  .card .card-body {
    padding: 15px; }
  .card .card-title {
    font-family: "Zilla Slab", monospace;
    font-weight: bold;
    font-size: 22px; }

.nav a {
  display: block;
  padding: .5em 1em;
  color: #0c0c0d; }

.mobile-nav {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .mobile-nav a {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 25px; }
  .mobile-nav .close-modal {
    position: absolute;
    top: 15px;
    right: 15px;
    background-color: transparent;
    border: 0;
    color: #FFFFFF;
    font-size: 25px; }
  .mobile-nav.active {
    opacity: 1;
    visibility: visible;
    z-index: 99; }
