.main-footer {
    background-color: #FFFFFF;
    position:relative;
    border-top: 1px solid #cacaca;
    padding: 40px 0;

    .footer-logo {
        max-width: 130px;
        margin-bottom: 25px;
    }

    .nav-link {
        padding-left: 0;
    }
}