.card-blog {
    position: relative;
    margin-bottom: 30px;

    .card-image {
        margin-bottom: 15px;

        >img {
            width: 100%;
        }
    }

    .card-title {
        font-family: $font-zilla;
        >a {
            font-size: 26px;
            font-weight: bold;
            font-family: $font-zilla;
            color: $color-black;
        }
    }

    .card-excerpt {
        font-family: $font-zilla;
    }
}

.article {
    position: relative;
    background-color: #FFF;
    border: 0 solid hsla(0,0%,100%,.25);
    border-radius: 2px;
    box-shadow: 0 1px 5px #dcdcdc;
    color: #2a2a2a;
    overflow: hidden;
    margin-top: 0;
    margin-bottom: 30px;

    .article-thumbnail {
        max-height: 160px;
        overflow: hidden;
        width: 100%;

        img { 
            max-width: 100%; 
            height: auto;
        }
    }

    .article-body {
        padding: 25px;

        .article-date {
            text-transform: uppercase;
            color: $color-primary;
            font-size: 13px;
            font-weight: bold;
        }

        .article-headline {
            font-size: 16px;
            margin-bottom: 0;
            line-height: 1.6;

            a { color: $color-black; }
        }
    }
}

.card-member {
    position: relative;
    text-align: center;
    
    img {
        border-radius: 50%;
        max-width: 200px;
        margin: 0 auto;
        display: block;
    }

    .card-name {
        font-size: 20px;
        font-family: $font-zilla;
        font-weight: bold;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .card-position {
        font-size: 14px;
        font-style: italic;
    }


    .card-description {
        font-family: $font-zilla;
        font-size: 16px;
        margin-top: 10px;
    }
}

.card {
    box-shadow: 0px 1px 5px rgba(#000, 0.1);

    .card-img-top {
        max-width: 100%;
    }

    .card-body {
        padding: 15px;
    }

    .card-title {
        font-family: $font-zilla;
        font-weight: bold;
        font-size: 22px;
    }
}